/* this file is just describe DEMO pages base style, its not required for correct work of extension */

html, body {
    width: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #8d8d8d;
    font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
    color: #cdcdcd;
    text-align: left;
}

a { 
    text-decoration : none;  
    color: #dadada;
}

input, button {
    border: 0px;
    height: 32px;
    text-align: center;
    height: 40px;
}

.example-page {
    max-width : 800px;
    margin : 0 auto;   
    background: #5c5c5c;
    padding: 15px;
    margin-top: 16px;
}

.example-wrap p {
    padding : 6px;
    font-size : 16px;
}

.example-wrap {
    background: #7f7f7f;
    border-radius: 3px;
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.75);
    margin-top: 60px;
    text-align: center;
    padding: 6px;
    display: inline-block;
}

.example-wrap-simple {
    width : 98%;
    height : 98%;
    padding-bottom : 64px;
}

.example-top a {
    font-size: 16px;
    font-weight: bold;
    text-decoration : underline;
}

.example-top {
    background: #8d8d8d;
    padding: 6px;
    display: block;
}
         
.examples-list {
    max-width : 640px;
    text-align : left;
    padding : 24px;
    box-sizing: border-box;
}

.examples-list ul {
    text-align : left;
    margin : 0px;
    padding : 0px;
    margin-left: 19px;
}

.examples-list li {
    list-style-type: square;
    padding: 0;
    padding-left: -1px;
}

.examples-list li a {
    font-size: 16px;
    color: #f9f9f9;
    font-weight: bold;
}

.multi-input {
    border: 2px solid rgba(70, 70, 70, 0.18);
    box-sizing: border-box;
    text-align : center;
}

.multi-input.selected {
    
    border: 2px solid #000;
}

.example-wrap-test-6, .example-wrap-test-4 {
    width : 100%;
    padding : 40px;
    margin-top: 162px;
    
}

